html * {
  font-family: lato;
}

/* informational text */

.infoPopover {
  position: fixed;
}

.loadingText {
  display: flex;
  flex-flow: column;
  text-align: center;
}

.placeHolderText {
  text-align: left;
}

/* cardList & cardSuggestions */
.cardList {
  margin-top: 15px;
}

.cardListActionButtons {
  display: flex;
  justify-content: space-evenly;
}

.lookupSuggestions {
  display: flex;
  flex-direction: column;
}

.input-predict-suggestion {
  display: none;
}

/* selected card images */
.selectedVersions {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.selectedCardGroup {
  display: flex;
  flex-flow: column;
  list-style-type: none;
  min-width: 175px;
  text-align: center;
}

.selectedCardImages {
  display: inline-flex;
  flex-flow: column nowrap;
  list-style: none;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.selectedEditionContainer {
  display: flex;
  flex-flow: row nowrap;
}

.selectedEditionImage {
  margin-bottom: -185px;
}

/* unselected card images */
.unselectedCardVersions {
  padding-left: 0px;
}

.unselectedCardGroup {
  list-style-type: none;
}

.unselectedCardImages {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style-type: none;
  text-align: center;
  flex: 1 1 0px;
}

.unselectedEditionContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 5px 8px;
}

/* all card images */
.editionImage img {
  max-width: 145px;
  max-height: 203px;
}